/* Additional Resets and Tweaks */
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
html { overflow-y: scroll; }
img { max-width: 100%; }
a, a:visited { text-decoration: none; color: #F00; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
a:hover { color: #FA0; }
.cf:after { content: ""; display: table; clear: both; }
em { font-style: italic; }

/* BASE */
body { min-width: 240px; text-align: center; padding: 1em; font-family: 'OSRegular', arial, sans-serif; }
strong { font-weight: bold; } 

nav { }
nav ul { display: none; margin: 0; }
nav ul li { border-top: 1px solid #DC291E; margin: 0; list-style-type: none; }
nav ul li:first-of-type { border-top: none; }
nav ul li:last-of-type { border-bottom: 1px solid #DC291E; }
nav ul li a, nav ul li a:visited { display: block; padding: 1em; color: #454545; }
nav ul li a.active { background-color: #DC291E; color: #FFF; font-weight: bold; }
nav ul li a:hover { background-color: #000; color: #EEE; }

nav ul li a.disabled { color: #AAA; }
nav ul li a.disabled:hover { background-color: #FFF; color: #AAA; }

.mobile-menu-toggle { display: block; text-align: center; padding: 1em 0; margin-top: 1em; width: 100%; cursor: pointer; border-top: 1px solid #DC291E; border-bottom: 1px solid #DC291E; }

header { position: relative; text-align: center; }
header img.logo { width: 50%; }

.content { width: 90%; text-align: left; margin: 0 auto; }

p, ul { line-height: 1.5em; margin-bottom: 2em; font-size: 1em; text-align: justify;  color: #444;}
p.subtitle { font-weight: bold; font-size: 1.25em; }

li { list-style-type: disc; margin-left: 3em; text-align: left; }

article, .container { text-align: left; }
article h1, .container h1 { font-family: 'OSBold', arial, sans-serif; padding-bottom: 0.5em; font-size: 2em; overflow: hidden; line-height: 1.25em; }
article h2, .container h2 { padding-bottom: 0.5em; font-size: 1.5em; overflow: hidden; }
article h3, .container h3 { padding-bottom: 0.5em; font-size: 1.25em; border-bottom: 1px solid #BBB; padding-bottom: 4px; overflow: hidden; }
article h4, .container h4 { padding-bottom: 0.5em; font-size: 1.1em; overflow: hidden; }
article h5, .container h5 { padding-bottom: 0.5em; font-size: 1em; overflow: hidden; }
article p a, .container p a { text-decoration: underline; }
article ul li, .container ul li { margin-bottom: 0.5em; }

article > .about { line-height: 1.25em; text-align: right; }
article > .about li { margin: 0; list-style-type: none; }

article > footer ul li { border-bottom: 1px solid #AAA; margin: 0; list-style-type: none; }
article > footer ul li:last-of-type { border-bottom: 0; }
article > footer ul li a { display: block; padding: 0.75em 0; text-decoration: none; }

article.blog, .container { margin-top: 2em; }
article.blog > .blog-header { display: none; }
article.blog > h1.blog-title-only { display: block; }
article.blog > h1.blog-header-title-only { display: none; }

aside { margin: 2em 0; padding: 2em; background-color: #d2e8f2; border-radius: 4px; box-shadow: 1px 1px 4px #666; }
aside h3 { font-family: 'OSRegular', arial, sans-serif; font-size: 1.5em; color: #333; margin-bottom: 0.5em; }
aside p { margin-bottom: 1em; text-align: left; }
aside p:last-of-type { margin-bottom: 0; }

pre { width: 100%; margin-bottom: 2em; font-size: 1em; text-align: left; overflow: auto; padding: 2em; background-color: #EEE; color: #333; box-shadow: inset 2px 2px 2px #999; border-radius: 4px; font-family: monospace; }
p + pre { margin-top: 0; }

hr { height: 1px; border: none; background-color: #777; margin: 2em 0; }

.figure { margin-bottom: 2em; }
.figure.full { padding: 2em 0; text-align: center; }
.figure.full > p.caption { text-align: center; }
p + .figure.full { padding-top: 0; }
.figure img { box-shadow: 1px 1px 4px #666; padding: 4px; }

.caption { padding-top: 4px; margin: 0; font-size: 0.85em; color: #555; }
.config-path, .mono { font-family: monospace; font-size: 1.25em; }

ul.grid > li { list-style-type: none; margin: 0 0 2em 0; }
ul.grid > li:last-of-type { margin: 0; } 

.welcome-banner { text-align: center; }

.master-search { text-align: center; margin: 1em; display: none; }
.master-search input { padding: 0.75em; border: 1px solid #666; border-radius: 6px; background-color: #EEE; font-weight: bold; width: 100%; }

.article-list h2 { border-bottom: 1px solid #666; padding-bottom: 0.5em; text-align: left; font-size: 1.5em !important; margin-bottom: 0.5em; }
.article-list ul li { width: 100%; margin: 0 0 0.5em 0; list-style-type: none; text-align: left; }

.blog-about { margin-bottom: 1em; background-color: #DEDEDE; padding: 1em; border-radius: 6px; }
.blog-about > .label { font-weight: bold; font-size: 0.85em; }
.blog-about > .content { margin-bottom: 1em;  }
.blog-about > .tags { margin: 0; }
.blog-about > .tags li { list-style-type: none; margin: 0; float: left; }
.blog-about > .tags li::after { content: ",\00a0"; } 
.blog-about > .tags li:last-child::after { content: ""; }
.blog-about > p { margin-bottom: 1em; }

.explore-tags li { display: inline-block;  margin: 0 1em 0 0; list-style-type: none; }
.explore-tags a, .explore-tags a:visited { display: block; padding: 0.5em; font-size: 1.25em; text-decoration: none !important; }

ul.blog-list { margin-top: 2em; }
ul.blog-list li { margin: 0 0 2em 0; list-style-type: none; }
ul.blog-list li img { float: left; max-height: 100px; margin-right: 1em; max-width: 25%; }
ul.blog-list li h3 { font-size: 1.25em; font-weight: bold; overflow: hidden; }
ul.blog-list li p { margin: 0; }
ul.blog-list li > .subtitle { }
ul.blog-list li > .date { font-size: 0.75em; }

footer.page { margin-top: 2em; padding: 2em; background-color: #EEE; font-size: 0.8em; }
footer.page p { margin-bottom: 0; text-align: left; }

@media (min-width: 600px)
{		
	header img.logo { width: auto; max-width: 450px; }
	
	article h1, .container h1 { font-size: 3em; font-weight: bold; text-shadow: 2px 2px 0 #AAA; }
	article h2, .container h2 { font-size: 2em; font-weight: bold; }
    article h3, .container h3 { font-weight: bold; }

	article > .about { text-align: right; }
	article > .about li { display: inline-block; margin-left: 1em;  }
	
	article > footer > .articles { width: 49%; float: left; margin-right: 1%; }
	article > footer > .notes { width: 49%; float: right; margin-left: 1%; }

    article.blog > .blog-header { display: block; background-size: cover; background-position: center top; position: relative; height: 420px; margin-bottom: 2em; }
    article.blog > .blog-header h1 { position: absolute; bottom: 0; padding: 0.5em; background-color: rgba(0, 0, 0, 0.85); text-shadow: 2px 2px 0 #000; color: #DEDEDE; }
    article.blog > h1.blog-title-only { display: none; }
    article.blog > h1.blog-header-title-only { display: block; }

    aside { 
        background: #ddffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ddffff 0%, #ddf1f9 34%, #91d1ea 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ddffff 0%,#ddf1f9 34%,#91d1ea 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ddffff 0%,#ddf1f9 34%,#91d1ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
	aside.left { float: left; width: 40%; margin: 1em 2em 1em 0; }
	aside.right { float: right; width: 40%; margin: 1em 0 1em 2em; }
	aside.narrow { width: 25%; }

	pre { font-size: 1.25em; }
	
    .figure { margin-bottom: auto; }
	.figure.left { float: left; padding: 0 2em 1em 0; width: 50%; text-align: right; }
	.figure.right { float: right; padding: 0 0 1em 2em; width: 50%; text-align: left; }
	.figure.left img, .figure.right img { width: 100%; }
	
	ul.grid { text-align: center; }
	ul.grid > li { text-align: left; float: left; margin: 0; list-style-type: none; padding-bottom: 2em; }

	ul.grid.two-up > li { width: 50%; padding-right: 20px; }
	ul.grid.two-up > li:nth-child(2n + 1) { clear: both; }
	
	ul.grid.three-up > li { width: 33.3333%; padding-right: 20px; }
	ul.grid.three-up > li:nth-child(3n + 1) { clear: both; }
	
	ul.grid.four-up > li { width: 25%; padding-right: 20px; }
	ul.grid.four-up > li:nth-child(4n + 1) { clear: both; }

	ul.grid.five-up > li { width: 20%; padding-right: 20px; }
	ul.grid.five-up > li:nth-child(5n + 1) { clear: both; }
	
	ul.grid.six-up > li { width: 16.6667%; padding-right: 20px; }
	ul.grid.six-up > li:nth-child(6n + 1) { clear: both; }
	
	.blog-about { float: right; margin: 0 0 2em 2em; width: 33%; border-left: 1px solid #000; padding: 0 0 0 2em; border-radius: unset; background-color: transparent; }

    ul.blog-list li img { max-width: 128px; }
}

@media (min-width: 820px)
{
	nav { margin: 1em 0; font-family: 'OSBold', arial, sans-serif; }
	nav ul { display: block; border-top: 1px solid #DC291E; border-bottom: 1px solid #DC291E; }
	nav ul li { float: left; width: 20%; border: none; }
	nav ul li:last-of-type { border: none; }
	nav ul li a { text-align: center; }
	.mobile-menu-toggle { display: none; }
	
	.master-search { float: right; text-align: right; position: absolute; bottom: 0; right: 0; margin: 0; display: block; }
	.master-search input { padding: 0.75em; border: 1px solid #666; border-radius: 6px; background-color: #EEE; font-weight: bold; width: auto; }
}

@media (min-width: 1100px)
{
	.content { max-width: 80%; }
}

@media (min-width: 1600px)
{
	.content { max-width: 1100px; }
}