/* Additional Resets and Tweaks */
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
html { overflow-y: scroll; }
img { max-width: 100%; }
a, a:visited { text-decoration: none; color: #F00; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
a:hover { color: #FA0; }
.cf:after { content: ""; display: table; clear: both; }
em { font-style: italic; }

/* BASE */
body { min-width: 240px; text-align: center; font-family: 'OSRegular', arial, sans-serif; background-color: #F1F1F1; }
strong { font-weight: bold; } 

nav { }
nav ul { display: none; margin: 0 0 1em 0; }
nav ul li { border-top: 1px solid #DC291E; margin: 0; list-style-type: none; }
nav ul li:first-of-type { border-top: none; }
nav ul li:last-of-type { border-bottom: 1px solid #DC291E; }
nav ul li a, nav ul li a:visited { display: block; padding: 1em; color: #454545; }
nav ul li a.active { background-color: #DC291E; color: #FFF; font-weight: bold; text-shadow: 2px 2px 0 #000; }
nav ul li a:hover { background-color: #000; color: #EEE; }

nav ul li a.disabled { color: #AAA; }
nav ul li a.disabled:hover { background-color: #FFF; color: #AAA; }

.mobile-menu-toggle { display: block; text-align: center; padding: 1em 0; margin: 1em 0; width: 100%; cursor: pointer; border-top: 1px solid #DC291E; border-bottom: 1px solid #DC291E; }

header { position: relative; text-align: center; }
header img.logo { width: 50%; }

.content { width: 90%; text-align: left; margin: 0 auto; padding-top: 1em; }

p, ul { line-height: 1.5em; margin-bottom: 1.5em; font-size: 1em; text-align: justify;  color: #444;}
p.subtitle { font-weight: bold; font-size: 1.25em; }

li { list-style-type: disc; margin-left: 3em; text-align: left; }

.section { margin-bottom: 2em;}
.section > h1 { text-align: center; }

.gutter { height: 0em; }

article, .container { text-align: left; }
article h1, .container h1 { font-family: 'MatizRegular', arial, sans-serif; padding-bottom: 0.5em; font-size: 2em; overflow: hidden; line-height: 1.25em; }
article h2, .container h2 { font-family: 'OSBold', arial, sans-serif; padding-bottom: 0.5em; font-size: 1.5em; overflow: hidden; margin-top: 1.5em; }
article h2:first-of-type, .container h2:first-of-type { margin-top: 0; }
article h3, .container h3 { padding-bottom: 4px; font-size: 1.25em; border-bottom: 1px solid #BBB; margin-bottom: 1em; overflow: hidden; }
article h4, .container h4 { padding-bottom: 0.5em; font-size: 1.1em; overflow: hidden; }
article h5, .container h5 { padding-bottom: 0.5em; font-size: 1em; overflow: hidden; }
article p a, .container p a { text-decoration: underline; }
article ul li, .container ul li { margin-bottom: 0.5em; }

article > .about { line-height: 1.25em; text-align: right; }
article > .about li { margin: 0; list-style-type: none; }

article > footer ul li { border-bottom: 1px solid #AAA; margin: 0; list-style-type: none; }
article > footer ul li:last-of-type { border-bottom: 0; }
article > footer ul li a { display: block; padding: 0.75em 0; text-decoration: none; }

article.blog { margin-top: 2em; }
article.blog > .blog-header { display: none; }
article.blog > h1.blog-title-only { display: block; }
article.blog > h1.blog-header-title-only { display: none; }

aside { margin: 2em 0; padding: 2em; background-color: rgba(250, 250, 250, 1); box-shadow: 0 0 12px #c1c1c1; border-radius: 4px; }
aside h3 { font-family: 'OSBold', arial, sans-serif; font-size: 1.5em; color: #333; margin-bottom: 0.5em; border: none !important; }
aside p { margin-bottom: 1em; text-align: left; }
aside p:last-of-type { margin-bottom: 0; }

pre { margin-bottom: 1em; }
pre > code { font-family: monospace; border-radius: 6px; padding: 1em 2em !important; box-shadow: inset 2px 2px 2px #AAA; background-color: #DEDEDE !important; }

hr { height: 1px; border: none; background-color: #777; margin: 2em 0; }

.figure { margin-bottom: 2em; }
.figure.full { padding: 2em 0; text-align: center; }
.figure.full > p.caption { text-align: center; }
p + .figure.full { padding-top: 0; }
.figure img { box-shadow: 1px 1px 4px #666; padding: 4px; }
h2 + .figure { padding-top: 0 !important; }

.caption { padding-top: 4px; margin: 0; font-size: 0.85em; color: #555; }
.config-path, .mono { font-family: monospace; font-size: 1.25em; }
.inline-code { background-color: #f5f9d2; padding: 0 2px; }

ul.grid > li { list-style-type: none; margin: 0 0 2em 0; }
ul.grid > li:last-of-type { margin: 0; } 

.welcome-banner { text-align: center; background: linear-gradient(135deg, #dc291e 0%,rgb(78, 20, 20) 100%); color: #FFF; text-shadow: 0 4px 16px #000; padding: 2em 1em; }
.welcome-banner h1, .welcome-banner h2 { }

.master-search { text-align: center; margin: 1em; display: none; }
.master-search input { padding: 0.75em; border: 1px solid #666; border-radius: 6px; background-color: #EEE; font-weight: bold; width: 100%; }

.article-list h2 { border-bottom: 1px solid #666; padding-bottom: 0.5em; text-align: left; font-size: 1.5em !important; margin-bottom: 0.5em; }
.article-list ul li { width: 100%; margin: 0 0 0.5em 0; list-style-type: none; text-align: left; }

table { width: 100%; margin: 2em 0; }
th { font-weight: bold; padding: 1em; text-align: center; }
td { border: 1px solid #CCC; padding: 1em; }
td p { margin-bottom: 0; }
td ul:last-of-type { margin-bottom: 0; }
td ul li { margin-left: 1em; }
td ul li:last-of-type { margin-bottom: 0; }
tr:nth-child(even) { background-color: #EEE; }

.blog-about { margin-bottom: 1em; background-color: #DEDEDE; padding: 1em; border-radius: 6px; }
.blog-about > .label { font-weight: bold; font-size: 0.85em; }
.blog-about > .content { margin-bottom: 1em;  }
.blog-about > .tags { margin: 0; }
.blog-about > .tags li { list-style-type: none; margin: 0; float: left; }
.blog-about > .tags li::after { content: ",\00a0"; } 
.blog-about > .tags li:last-child::after { content: ""; }
.blog-about > p { margin-bottom: 1em; }

.explore-tags li { display: inline-block;  margin: 0 1em 0 0; list-style-type: none; }
.explore-tags a, .explore-tags a:visited { display: block; padding: 0.5em; font-size: 1.25em; text-decoration: none !important; }

ul.blog-list { }
ul.blog-list li { margin: 0 0 2em 0; list-style-type: none; }
ul.blog-list li img { float: left; max-height: 100px; margin-right: 1em; max-width: 25%; }
ul.blog-list li h3 { font-size: 1.25em; font-weight: bold; overflow: hidden; margin-bottom: 0.5em !important; }
ul.blog-list li p { margin: 0; }
ul.blog-list li > .subtitle { }
ul.blog-list li > .date { font-size: 0.75em; }

ul.blog-list.articles li { margin-bottom: 1em; background-color: rgba(250, 250, 250, 1); padding: 1em; box-shadow: 0 0 12px #c1c1c1; min-height: 125px; }

ul.video-list li img { max-height: none; }

.btn { display: inline-block; padding: 0.5em 1em; border: 1px solid #777; border-radius: 4px; background-color: #e2e2e2; color: #000; box-shadow: 1px 1px 1px #AAA; }
a.btn { color: #000; }
.btn:hover { background-color: #666; color: #DDD; }
.btn:active { position: relative; right: -2px; bottom: -2px; box-shadow: none; }
.btn.primary, input[type="submit"].primary { background-color: #0081fe; color: #FFF; border: 1px solid #0a1452; text-shadow: 1px 1px 0 #000; cursor: pointer; padding: 1em 2em; font-size: 1.1em; }

form { margin: 1em 0; }
.row { margin-bottom: 1em; }
.row label { display: block; font-size: 0.85em; font-weight: bold; margin-bottom: 0.25em; }
.row input[type="text"],
.row textarea,
.row select { width: 100%; padding: 0.75em; border-radius: 4px; border: 1px solid #333; font-size: 1em; font-family: monospace; }
.row input[type="text"].half,
.row textarea.half,
.row select.half { width: 50%; }
.row input[type="text"].quarter,
.row textarea.quarter,
.row select.quarter { width: 25%; }

input:focus, select:focus, textarea:focus { box-shadow: inset 2px 2px 2px #444; background-color: #DDD; }

footer.page { margin-top: 2em; padding: 2em; background-color: #515151; font-size: 0.8em; box-shadow: inset 0 0 50px #000; }
footer.page p { margin-bottom: 1em; text-align: left; color: #DEDEDE; }
footer.page a, footer.page a:visited { color: #DEDEDE; text-decoration: underline; }
footer.page p:last-of-type { margin-bottom: 0; }

.status-message { padding: 1em; margin: 2em 0; font-weight: bold; color: #FFF; text-shadow: 2px 2px 0 #000; border-radius: 3px; }
.status-message.success { background-color: #328028; }
.status-message.warning { background-color: #b45e02; }
.status-message.error { background-color: #871313; }

.field-validation-error { margin: 1em 0; display: block; background-color: #980000; padding: 0.5em; border-radius: 4px; text-shadow: 1px 1px 0 #000; color: #fff2ac; }

@media (min-width: 600px)
{		
	header img.logo { width: auto; max-width: 450px; }
	
    .gutter { height: 2em; }

	article h1, .container h1 { font-size: 3em; }
	article h2, .container h2 { font-size: 2em; }
    article h3, .container h3 { font-weight: bold; }

	article > .about { text-align: right; }
	article > .about li { display: inline-block; margin-left: 1em;  }
	
	article > footer > .articles { width: 49%; float: left; margin-right: 1%; }
	article > footer > .notes { width: 49%; float: right; margin-left: 1%; }

    article.blog > .blog-header { display: block; background-size: cover; background-position: center top; position: relative; height: 420px; margin-bottom: 2em; }
    article.blog > .blog-header h1 { position: absolute; bottom: 0; padding: 0.5em; background-color: rgba(0, 0, 0, 0.85); text-shadow: 2px 2px 0 #000; color: #DEDEDE; }
    article.blog > h1.blog-title-only { display: none; }
    article.blog > h1.blog-header-title-only { display: block; }

	aside.left { float: left; width: 40%; margin: 1em 2em 1em 0; }
	aside.right { float: right; width: 40%; margin: 1em 0 1em 2em; }
	aside.narrow { width: 25%; }

    pre { font-size: 1.1em; }

    .figure { margin-bottom: auto; }
	.figure.left { float: left; padding: 0 2em 1em 0; width: 50%; text-align: right; }
	.figure.right { float: right; padding: 0 0 1em 2em; width: 50%; text-align: left; }
	.figure.left img, .figure.right img { width: 100%; }
	
	ul.grid { text-align: center; }
	ul.grid > li { text-align: left; float: left; margin: 0; list-style-type: none; padding-bottom: 2em; }

    ul.grid li h3 { margin-bottom: 0.5em; }

	ul.grid.two-up > li { width: 50%; padding-right: 20px; }
	ul.grid.two-up > li:nth-child(2n + 1) { clear: both; }
	
	ul.grid.three-up > li { width: 33.3333%; padding-right: 20px; }
	ul.grid.three-up > li:nth-child(3n + 1) { clear: both; }
	
	ul.grid.four-up > li { width: 25%; padding-right: 20px; }
	ul.grid.four-up > li:nth-child(4n + 1) { clear: both; }

	ul.grid.five-up > li { width: 20%; padding-right: 20px; }
	ul.grid.five-up > li:nth-child(5n + 1) { clear: both; }
	
	ul.grid.six-up > li { width: 16.6667%; padding-right: 20px; }
	ul.grid.six-up > li:nth-child(6n + 1) { clear: both; }
	
    .welcome-banner { box-shadow: inset 0 0 100px #000; padding: 6em 2em; }

	.blog-about { float: right; margin: 0 0 2em 2em; width: 33%; border-left: 1px solid #000; padding: 0 0 0 2em; border-radius: unset; background-color: transparent; }

    ul.blog-list li img { max-width: 128px; }

    ul.blog-list.articles li { margin: 1%; width: 48%; padding: 1em; box-shadow: 0 0 25px #c1c1c1; min-height: 125px; border-radius: 4px; }
    ul.blog-list.articles li:last-of-type { margin: 1%; }

    ul.video-list li img { max-width: 320px; }
}

@media (min-width: 820px)
{
	nav { margin: 1em 0; font-family: 'OSBold', arial, sans-serif; }
	nav ul { display: block; border-top: 1px solid #DC291E; border-bottom: 1px solid #DC291E; }
	nav ul li { float: left; width: 20%; border: none; }
	nav ul li:last-of-type { border: none; }
	nav ul li a { text-align: center; }
	.mobile-menu-toggle { display: none; }
    .admin nav ul li { width: 16.6666%; }
	
	.master-search { float: right; text-align: right; position: absolute; bottom: 0; right: 0; margin: 0; display: block; }
	.master-search input { padding: 0.75em; border: 1px solid #666; border-radius: 6px; background-color: #EEE; font-weight: bold; width: auto; }
}

@media (min-width: 1100px)
{
	.content { max-width: 80%; }
}

@media (min-width: 1600px)
{
	.content { max-width: 1100px; }
}