@model string

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Blog List</h1>

<a href="/Admin/BlogEdit">Add New Post</a>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Published</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/Admin/BlogEdit?ID=1"></a></td>
            <td><a href="/Admin/BlogEdit?ID=1"></a></td>
            <td><a href="/Admin/BlogEdit?ID=1"></a></td>
            <td><a href="/Admin/BlogEdit?ID=1"></a></td>
        </tr>
    </tbody>
</table>