@model SparkServer.ViewModels.CategoryListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Spark Articles";
}

<div class="gutter">&nbsp;</div>

<div class="section">

    <h1>@Html.Raw(ViewBag.Title)</h1>

    <p>Articles focus on fundamental Sitecore concepts, and are relevant to any modern version of Sitecore (versions 6, 7, 8, 9).</p>

    <p>New articles are published regularly, so check back often. If you have a topic that you would like to see covered, please <a href="/about">contact me</a>.</p>

    <ul class="grid three-up cf">

        @foreach (var categoryWithArticles in Model.CategoriesList)
        {
            <li class="article-list">
                <h2>@categoryWithArticles.CategoryName</h2>

                <ul>
                    @foreach (var articleLink in categoryWithArticles.ArticleLinks)
                {
                        <li><a href="@articleLink.URL">@articleLink.ArticleTitle</a></li>
                    }
                </ul>
            </li>
        }

    </ul>

</div>