@model SparkServer.ViewModels.CategoryListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Categories &amp Topics";
}
<h1>@Html.Raw(ViewBag.Title)</h1>

<div>
    
</div>