@{
    ViewBag.Title = "About Sitecore Spark";
}

<h1>@ViewBag.Title</h1>

<aside>
    <h3><i class="fa fa-lock" aria-hidden="true"></i> Security Tip</h3>
    <p>The <strong>/sitecore</strong> directory should be disabled for content delivery servers.</p>
</aside>