@{
    ViewBag.Title = "About Sitecore Spark";
}

<div class="gutter">&nbsp;</div>

<div class="section">

    <h1>@ViewBag.Title</h1>

    <h2>The Mission</h2>

    <div class="figure right about-mvp-logo">
        <img src="/Content/images/sitecore_mvp.jpg" alt="Sitecore Technology 2018 MVP" />
    </div>

    <p><a href="http://www.brandonbruno.com" target="_blank">Brandon Bruno</a> created Sitecore Spark to provide a new perspective on Sitecore education.</p>
    <p>Sitecore Spark aims to be a concise introduction to understanding the fundamentals of the Sitecore platform. Simplicity is key to Spark - "Keep It Simple, Stupid" is the core tenant of all content on Sitecore Spark.</p>
    <p>Sitecore concepts are be broken down into short, simple articles that are designed to be consumable in minutes and useful for developers of all levels. Sitecore Spark can be used as training material for new developers or quick reference for seasoned veterans.</p>

    <h2>Contact Information</h2>

    <p>If you have comments, questions, or corrections, you can reach out to Brandon Bruno directly via Twitter or email.</p>

    <p>Interested in contributing to Sitecore Spark? Send a message to the email address below.</p>

    <h3>Twitter</h3>

    <ul>
        <li><strong><a href="http://www.twitter.com/sitecorespark">@@SitecoreSpark</a></strong></li>
        <li><strong><a href="http://www.twitter.com/BrandonMBruno">@@BrandonMBruno</a></strong></li>
    </ul>

    <h3>Email</h3>

    <ul>
        <li><strong><a href="mailto:bmbruno@gmail.com">bmbruno@@gmail.com</a></strong></li>
    </ul>

</div>

@section PageScripts {
    
    <script src="https://forms.brandonbruno.com/scripts/fastforms-min.js"></script>

}