@{
    ViewBag.Title = "About Sitecore Spark";
}

<div class="gutter">&nbsp;</div>

<div class="section">

    <h1>@ViewBag.Title</h1>

    <h2>The Mission</h2>

    <p><a href="http://www.brandonbruno.com" target="_blank">Brandon Bruno</a> created Sitecore Spark in 2016 to provide a new perspective on Sitecore education.</p>
    <p>Sitecore Spark aims to be a concise introduction to understanding the fundamentals of the Sitecore platform.</p>
    <p>Sitecore concepts are be broken down into short, simple articles that are designed to be consumable in minutes and useful for developers of all levels. Sitecore Spark can be used as training material for new developers or quick reference for seasoned veterans.</p>

    <h2>Contact Information</h2>

    <p>If you have comments, questions, or corrections, you can reach out to Brandon Bruno directly via Twitter, email, or the contact form below.</p>

    <p>Interested in contributing to Sitecore Spark? Send a message to the email address below.</p>

    <h3>Twitter</h3>

    <ul>
        <li><strong><a href="http://www.twitter.com/sitecorespark">@@SitecoreSpark</a></strong></li>
        <li><strong><a href="http://www.twitter.com/BrandonMBruno">@@BrandonMBruno</a></strong></li>
    </ul>

    <h3>Email</h3>

    <ul>
        <li><strong><a href="mailto:bmbruno+sitecorespark@gmail.com">bmbruno+sitecorespark@@gmail.com</a></strong></li>
    </ul>

    <h3>Leave a Message</h3>

    <p class="status-message success" id="FastFormsMessageBox"></p>

    <form action="https://forms.brandonbruno.com/Form/Submit" method="post" style="text-align: center;">

        <input type="hidden" name="FormKey" value="59556a9e-10d6-4893-b432-aa541afe506f" />

        <div class="row">
            <label for="FullName">Your Name</label>
            <input type="text" id="FullName" name="FullName" class="half" />
        </div>

        <div class="row">
            <label for="Message">Message</label>
            <textarea id="Message" name="Message" rows="6" class="half"></textarea>
        </div>

        <div class="row" style="text-align: center; margin: 0;">
            <input type="submit" class="btn primary" value="Submit" />
        </div>

    </form>

</div>

@section PageScripts {
    
    <script src="https://forms.brandonbruno.com/scripts/fastforms-min.js"></script>
    
}