@model SparkServer.ViewModels.AddEditViewModel
@{
    ViewBag.Title = "";
}

@using (Html.BeginForm(actionName: "Update", controllerName: "Home", method: FormMethod.Post))
{
    <div class="row">
        <label></label>
        <input type="text" />
    </div>

    <div class="row">
        <label></label>
        <input type="text" />
    </div>

    <div class="row">
        <label></label>
        <input type="text" />
    </div>

    <div class="row">
        <label></label>
        <input type="text" />
    </div>

    <div class="row">
        <label></label>
        <input type="text" />
    </div>

    <div class="row">
        <label></label>
        <input type="text" />
    </div>

}