@model SparkServer.ViewModels.ResourcesViewModel
@{
    ViewBag.Title = "Sitecore Resources";
}

<h1>@ViewBag.Title</h1>

<div class="resource-header" style="background-image: url('/Content/Images/default_blog_bg.jpg');">
    <h2><i class="fa fa-users" aria-hidden="true"></i> Community Involvement</h2>
</div>

<article style="border-radius: 0;">
    <ul class="resource-list cf">
        <li class="cf">
            <div class="resource-media">
                <img src="~/Content/Images/icon_slack.png" alt="Slack Logo" />
            </div>
            <div class="resource-content">
                <h3><a href="https://sitecorechat.slack.com" target="_blank">Slack</a></h3>
                <p>Join the Sitecore Slack community to engage daily with fellow Sitecore developers, enthusiasts, architects, and MVPs. Also includes gaming, venting, random and many other channels.</p>
                <p>To get started, see Akshay Sura's post: <a href="https://www.akshaysura.com/2015/10/27/how-to-join-sitecore-slack-community-chat/" target="_blank">How to join Sitecore Slack Community Chat</a></p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="~/Content/Images/icon_stackexchange.png" alt="Sitecore Stack Exchange Logo" />
            </div>
            <div class="resource-content">
                <h3><a href="https://sitecore.stackexchange.com/" target="_blank">Sitecore Stack Exchange</a></h3>
                <p>Ask questions, get answers. The Sitecore Stack Exchange is full of great knowledge on all areas of Sitecore.</p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="~/Content/Images/icon_sitecore.png" alt="Sitecore Logo (for Community Forums)" />
            </div>
            <div class="resource-content">
                <h3><a href="https://community.sitecore.net" target="_blank">Sitecore Community Forums</a></h3>
                <p>The official Sitecore forums are great for asking questions and getting advice. Thanks to announcements and involvement by Sitecore, it's worth checking out on a regular basis.</p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="~/Content/Images/icon_usergroups.png" alt="Various Sitecore User Groups icons" />
            </div>
            <div class="resource-content">
                <h3>Sitecore User Groups</h3>
                <p>Meet your fellow Sitecore developers in person. Find your local user group by checking for it on Meetup. This isn't exhuastive, so check other sources (including Twitter) to see if there is a SUG near you.</p>
                <ul>
                    <li><a href="https://www.meetup.com/topics/sitecore/" target="_blank">Meetup: Sitecore Topics</a></li>
                </ul>
            </div>
        </li>
    </ul>
</article>

<div class="resource-header" style="background-image: url('/Content/Images/default_blog_bg.jpg');">
    <h2><i class="fa fa-book" aria-hidden="true"></i> Official Docs &amp; Downloads</h2>
</div>
<article style="border-radius: 0;">
    <p>Sitecore's official documentation has improved greatly over the last couple of years. Here are the most useful links to common Sitecore documentation and software downloads.</p>
    <ul class="resource-links">
        <li><a href="https://dev.sitecore.net" target="_blank">dev.sitecore.net</a><div>Downloads of Sitecore (versions 8 and 9), as well as official modules and more.</div></li>
        <li><a href="https://doc.sitecore.net" target="_blank">doc.sitecore.net</a><div>General documentation on most aspects of the Sitecore platform and ecosystem.</div></li>
        <li><a href="https://doc.sitecore.net/developers" target="_blank">doc.sitecore.net/developers</a><div>Latest developer documentation for Sitecore 9, xConnect, deploying on Azure, and more.</div></li>
        <li><a href="https://kb.sitecore.net" target="_blank">kb.sitecore.net</a><div>Sitecore knowledge base, most importantly containing known issues and support information.</div></li>
        <li><a href="https://marketplace.sitecore.net" target="_blank">marketplace.sitecore.net</a><div>The official repository for Sitecore modules built by the community.</div></li>
        <li><a href="https://sdn.sitecore.net" target="_blank">sdn.sitecore.net</a><div>The Sitecore Developer Network hosts legacy documentation, downloads, and release notes for old versions of Sitecore (5, 6, and 7).</div></li>
        <li><a href="https://support.sitecore.net" target="_blank">support.sitecore.net</a><div>Links to common support resources, including the Sitecore Support Portal (help desk).</div></li>
        <li><a href="https://github.com/SitecoreSupport" target="_blank">github.com/SitecoreSupport</a><div>Repositories for official Sitecore patches provided by Sitecore Support.</div></li>
        <!--
        <li><a href="" target="_blank"></a><div></div></li>
        -->
    </ul>
</article>

<div class="resource-header" style="background-image: url('/Content/Images/default_blog_bg.jpg');">
    <h2><i class="fa fa-film" aria-hidden="true"></i> Video Channels</h2>
</div>
<article style="border-radius: 0;">
    <p>The best sources for Sitecore tutorials, walkthroughs, and demos in video form. Do you know of a great YouTube channel that should be added to this list? <a href="/about">Contact me</a> and I'll add it.</p>

    <ul class="resource-list video cf">
        <!--
        <li class="cf">
            <div class="resource-media">
                <img src="https://yt3.ggpht.com/-arP8LzRuOpo/AAAAAAAAAAI/AAAAAAAAAAA/hvDfkEwvy10/s288-mo-c-c0xffffffff-rj-k-no" alt="Sitecore Spark YouTube Logo" />
            </div>
            <div class="resource-content">
                <h3><a href="https://www.youtube.com/channel/UCrv7Ux-1OIM31ZMaIrp2Nog" target="_blank">Sitecore Spark</a></h3>
                <p>Short highlights of key Sitecore functionality, typically 60-90 seconds in length. Occassional longform videos as well. Updated rarely, but recently.</p>
            </div>
        </li>
        -->

        <li class="cf">
            <div class="resource-media">
                <img src="https://yt3.ggpht.com/-dLz92LRV76o/AAAAAAAAAAI/AAAAAAAAAAA/xrAhwj7QtEo/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt="Dylan Young YouTube Logo" />
            </div>
            <div class="resource-content">
                <h3><a href="https://www.youtube.com/channel/UC5krmrALirwZibfW9-c2JXw" target="_blank">Dylan Young</a></h3>
                <p>Sitecore MVP and Core Community Winner, Dylan is passionate about teaching Sitecore best practices to the community. Updated frequently.</p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="https://yt3.ggpht.com/-06330vrdCxw/AAAAAAAAAAI/AAAAAAAAAAA/E8vYJQzkYI0/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt="Master Sitecore YouTube Logo" />
            </div>
            <div class="resource-content">
                <h3><a href="https://www.youtube.com/user/mastersitecore" target="_blank">Master Sitecore</a></h3>
                <p>Sitecore's official education channel. Updated frequently.</p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="~/Content/Images/icon_youtube.png" alt="YouTube Icon" style="border-radius: 0;" />
            </div>
            <div class="resource-content">
                <h3><a href="https://www.youtube.com/channel/UC68SDyOXeCf9PN4m0N5I6bA" target="_blank">Akshay Sura</a></h3>
                <p>Sitecore MVP and community leader Akshay Sura's channel focuses on community events and instructional videos. Updated occasionally.</p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="https://yt3.ggpht.com/-7vi3aX5BsZY/AAAAAAAAAAI/AAAAAAAAAAA/TYaSEunJtqw/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt="Vasiliy Fomichev YouTube Logo" />
            </div>
            <div class="resource-content">
                <h3><a href="https://www.youtube.com/user/vasyafomichev" target="_blank">Vasiliy Fomichev</a></h3>
                <p>Sitecore MVP Vasiliy Fomichev creates how-to and demonstration videos. Updated occasionally.</p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="https://yt3.ggpht.com/-fdMDxEQ8BxE/AAAAAAAAAAI/AAAAAAAAAAA/KRnfCjscPzE/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" />
            </div>
            <div class="resource-content">
                <h3><a href="https://www.youtube.com/channel/UCn13gdm520Id_8o2rwyOkfQ" target="_blank">SUG Bangalore</a></h3>
                <p>Videos from the Sitecore User Group in Bangalore. Updated occasionally, but recently.</p>
            </div>
        </li>

        <li class="cf">
            <div class="resource-media">
                <img src="https://yt3.ggpht.com/-1v1qLipHQ4s/AAAAAAAAAAI/AAAAAAAAAAA/gGo2t3ptqDg/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg" alt="Sitecore Official YouTube Logo" />
            </div>
            <div class="resource-content">
                <h3><a href="https://www.youtube.com/user/sitecorechannel" target="_blank">Sitecore (Official)</a></h3>
                <p>Marketing, promotion, Symposium, and other video highlights from Sitecore.</p>
            </div>
        </li>

        <!--

    <li class="cf">
        <div class="resource-media">
            <img src="~/Content/Images/icon_slack.png" />
        </div>
        <div class="resource-content">
            <h3><a href="XXXXXXXXXXXXXX" target="_blank">XXXXXXXXXXXXXX</a></h3>
            <p>XXXXXXXXXXXXXX_XXXXX_XX_XXXXXX</p>
        </div>
    </li>

    -->

    </ul>

</article>

<div class="resource-header" style="background-image: url('/Content/Images/default_blog_bg.jpg');">
    <h2><i class="fa fa-book" aria-hidden="true"></i> Links</h2>
</div>
<article style="border-radius: 0;">
    <p>Common Sitecore tools, blogs, and other links that should prove useful to developers, marketers, and architects.</p>

    <h2>Blogs</h2>
    <ul class="resource-links">
        <li><a href="https://www.akshaysura.com/" target="_blank">Akshay Sura</a><div>Sitecore Cron module, community, Sitecore development; updated regularly.</div></li>
        <li><a href="https://blog.coates.dk" target="_blank">Alan Coates - Sitecore/.NET Blog</a><div>Sitecore development; updated regularly.</div></li>
        <li><a href="https://briancaos.wordpress.com/" target="_blank">Brian Pedersen's Sitecore/.NET Blog</a><div>Sitecore development; updated frequently.</div></li>
        <li><a href="https://horizontalintegration.blog/" target="_blank">Horizontal Integration Blog</a><div>Sitecore development; updated frequently.</div></li>
        <li><a href="https://jammykam.wordpress.com/" target="_blank">Jammykam</a><div>Sitecore development, community; updated frequently.</div></li>
        <li><a href="http://jockstothecore.com" target="_blank">Jocks To the Core</a><div>BrainJock's development; updated regularly.</div></li>
        <li><a href="https://blogs.perficient.com/sitecore" target="_blank">Perficient - Sitecore</a><div>Marketing and technical insights. Updated regularly.</div></li>
        <li><a href="https://sitecorejunkie.com/" target="_blank">Sitecore Junkie</a><div>Mike Reynolds; Sitecore development, best practices; updated frequently.</div></li>
        <li><a href="https://sitecoresandbox.com/" target="_blank">Sitecore Sandbox</a><div>Toby Gutierrez; Sitecore development; updated frequently.</div></li>
        <li><a href="https://sitecorerunner.com" target="_blank">Sitecore Runner</a><div>Rob Reilley; updated frequently.</div></li>
        <li><a href="https://michaellwest.blogspot.com" target="_blank">Something To Know</a><div>Michael West; Sitecore development and tools; updated regularly.</div></li>
    </ul>

    <h2>Tools &amp; Essentials</h2>
    <ul class="resource-links">
        <li><a href="https://github.com/kamsar/Unicorn" target="_blank">Unicorn</a><div>Serialize Sitecore items across environments. Free and open source.</div></li>
        <li><a href="https://www.teamdevelopmentforsitecore.com/TDS-Classic" target="_blank">Team Development for Sitecore (TDS) Classic</a><div>Item serialization, code generation, and advanced deployment tooling. Commercial product.</div></li>
        <li><a href="https://marketplace.visualstudio.com/items?itemName=JakobChristensen.SitecoreRocks" target="_blank">Sitecore Rocks</a><div>Integrates many Sitecore development tasks into Visual Studio. Free.</div></li>
        <li><a href="https://marketplace.sitecore.net/Modules/Sitecore_Instance_Manager.aspx?sc_lang=en" target="_blank">Sitecore Instance Manager (SIM)</a><div>Manage local instances of Sitecore in a few clicks.</div></li>
        <li><a href="http://www.glass.lu/" target="_blank">Glass.Mapper</a><div>ORM for mapping Sitecore data to solution code. Free and open source.</div></li>
        <li><a href="https://www.jetbrains.com/decompiler/" target="_blank">dotPeek</a><div>.NET decompiler. Useful for examining and studying Sitecore DLLs.</div></li>
        <li><a href="https://github.com/SitecorePowerShell/Console" target="_blank">Sitecore PowerShell Extensions</a> - <a href="https://github.com/SitecorePowerShell/Console/releases" target="_blank">Latest Releases</a><div>PowerShell brings a lot of flexibility to Sitecore tooling, reporting, development. A must-have module.</div></li>
    </ul>

    <h2>Miscellaneous</h2>
    <ul class="resource-links">
        <li><a href="http://sitecore.link/" target="_blank">Sitecore.Link</a><div>A comprehensive list of Sitecore-related links, listed by topic.</div></li>
        <li><a href="https://www.sitecore.com/getting-started/partners/search-partners" target="_blank">Sitecore Partners</a><div>Searchable list of Platinum, Gold, Certified, and Implementation partners.</div></li>
    </ul>

    <!--
    <h2>SECTION</h2>
    <ul class="resource-links">
        
        <li><a href="" target="_blank"></a><div></div></li>
        <li><a href="" target="_blank"></a><div></div></li>
        <li><a href="" target="_blank"></a><div></div></li>
        <li><a href="" target="_blank"></a><div></div></li>
        <li><a href="" target="_blank"></a><div></div></li>
        <li><a href="" target="_blank"></a><div></div></li>
    </ul>
    -->

</article>
