@model SparkServer.ViewModels.HomeVideoViewModel
@{
    ViewBag.Title = "Videos";
}

<h1>@ViewBag.Title</h1>

<ul class="blog-list video-list">

    @for (var i = 0; i < Model.VideoList.Count; i++)
    {
        <li class="cf">
            <h3><a href="#"></a></h3>
            <p>@Model.VideoList[i].Title</p>
        </li>
    }

</ul>